<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= source.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/public/ovenplayer/ovenplayer.js"></script>
    <script src="/public/hls.js/hls.min.js"></script>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
      body {
        padding: 20px;
      }
      .wrapper{
        max-width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/player"><%= defaultChannelTitle %></a>
        <div class="d-flex justify-content-right">



          <!--Channel dropdown -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Channels
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <% channels.forEach( (channel) => { %>
              <li><a class="dropdown-item" href="/player/<%= channel.name %>"><%= channel.title %></a></li>
              <% }) %>
            </ul>
          </div>
          <!-- End channel dropdown -->

          <!--User dropdown -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <%= username %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
          <!-- End channel dropdown -->
        </div>
      </div>
    </nav>

    <h1><center><%= source.title %></center></h1>

    <div class="wrapper">
      <div id="player"></div>
    </div>
    <script>
      function component() {
        var player = OvenPlayer.create("player", {
          "autoStart": false,
          "autoFallback": true,
          "mute": false,
          "hlsConfig": {
            "liveSyncDuration": 0.5,
            "liveMaxLatencyDuration": 2,
            "maxLiveSyncPlaybackRate": 1.5
          },
          "sources": <%- JSON.stringify(source) %>
        });
      }
      component();
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    
<script src="/public/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
