<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= renderData.source.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <%- include('navbar', renderData); %>
    <div class="p-3 m-3">
    <h1><center>Stream keys for <%= renderData.siteName %></center></h1>
    </div>
    <div>
    <% var userChannels = renderData.streamers.get(renderData.userid);
       if (userChannels) { 
         var userChannelsSet = new Set(userChannels);%>
         <table class="table table-striped table-hover table-bordered">
           <thead>
             <tr>
               <th scope="col">Channel</th>
               <th scope="col">RTMP Url</th>
               <th scope="col">Stream Key</th>
               <th scope="col">SRT Url</th>
             </tr>
           </thead>
           <tbody>
         <% renderData.channels.forEach(function(channel) {
           if (userChannelsSet.has(channel.name)) { %>
             <tr>
               <td><%= channel.title %></td>
               <td><%= channel.rtmp %></td>
               <td><%= channel.streamKey %></td>
               <td><%= channel.srt %></td>
             </tr>
        <% }
        }); %>
           </tbody>
        </table>
       <br>
       <div>For RTMP use the Url in the Server field and the Stream Key in the Stream Key field.  For SRT use the SRT Url in the server field and leave the Stream Key field blank.</div>
       <%} else { %>
       <p>You have no stream keys</p>
       <% } %>
       </div>


    <script src="/public/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>

